<% include partials/header %>



<div class="container">
    <header class="jumbotron">
        <div class="container">
        <h1>Welcome to Yelp Camp</h1>
        <p>View our handpicked campgrounds from all over the world</p>
        <p><a href="/campgrounds/new" class="btn btn-primary btn-large">Add new Camp</a></p>
        </div>
    </header>
    
    <div class="row text-center" style="display:flex; flex-wrap:wrap;">

            <% camp.forEach(function(camp){ %>
            <div class="col-md-3 col-sm-6">
                <div class="img-thumbnail">
                                <img class="img-thumbnail" src="<%= camp["image"] %>"> 
                                <div class="caption">
                                    <h4><%= camp["name"] %></h4>
                                </div>
                </div>
            </div>
        
    <% }); %>
    </div>
</div>
<% include partials/footer %>


        
        